<%= form_with(model: liked_restaurant, local: true) do |form| %>
  <% if liked_restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(liked_restaurant.errors.count, "error") %> prohibited this liked_restaurant from being saved:</h2>

      <ul>
        <% liked_restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.text_field :restaurant_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
