<a class="navbar-brand" href="/admin">Admin Dashboard</a>
<%= form_for :chart, url: adminpage_path , class: 'form-inline', style: 'display:inline !important;' do |form| %>
<h3>Please Select a Chart Type</h3>
  <%= form.select :charttype, [['User Line Chart','userlinechart'],['Hotels Line Chart','hotellinechart']] %>

  <%= form.submit "Generate" ,{class: "btn btn-primary"} %>
  <% end %>
<% if @userlinechartindicator == true %>
  <h2>User Registration Line Chart</h2>
<%= line_chart User.group_by_day(:created_at).count %>
  <% elsif @hotellinechartindicator == true %>
  <h2>Hotel's Line Chart</h2>
  <%= line_chart Hotel.group_by_day(:created_at).count %>
<% end %>
