<p id="notice"><%= notice %></p>

<h1>Liked Hotels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Hotel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liked_hotels.each do |liked_hotel| %>
      <tr>
        <td><%= liked_hotel.user_id %></td>
        <td><%= liked_hotel.hotel_id %></td>
        <td><%= link_to 'Show', liked_hotel %></td>
        <td><%= link_to 'Edit', edit_liked_hotel_path(liked_hotel) %></td>
        <td><%= link_to 'Destroy', liked_hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liked Hotel', new_liked_hotel_path %>
