  <% if user_signed_in? %>
    <table><h2>Recommended Hotels for you!!!</h2>

      <div class="row">
      <% i=0 %>
      <% @user.recommend_hotels.each do |key, value| -%>
    <% if (i < 6) %>
      <% i=i+1 %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to key.name , key %></h5>
              <p class="card-text"><%= key.address %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Rank :<%= key.rank %></li>
              <li class="list-group-item">Recommendation Rating :<%= value.round(2) %></li>
              <li class="list-group-item">Price :€<%= key.price %></li>
            </ul>
            <div class="card-body">
              <!--<a href="#" class="btn btn-primary">Search</a> -->
            </div>
          </div>
        </div>
        <% end %>
      <% end -%>
      <br>
      </div>
    </table>
    <table><h2>Recommended Restaurants for you!!!</h2>

      <% i=0 %>
      <div class="row">
        <% i=0 %>
        <% @user.recommend_restaurants.each do |key, value| -%>
          <% if (i < 6) %>
            <% i=i+1 %>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to key.name , key %></h5>
                  <p class="card-text"><%= key.location.name %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Rank :<%= key.foodtype %></li>
                  <li class="list-group-item">Recommendation Rating :<%= value.round(2) %></li>
                  <li class="list-group-item">Price :€<%= key.price %></li>
                </ul>
                <div class="card-body">
                  <!--<a href="#" class="btn btn-primary">Search</a> -->
                </div>
              </div>
            </div>
          <% end %>
        <% end -%>
        <br>
      </div>
    </table>
    </table>
    <table><h2>Recommended Transports for you!!!</h2>
       <% i=0 %>
       <div class="row">
        <% i=0 %>
        <% @user.recommend_transports.each do |key, value| -%>
          <% if (i < 6) %>
            <% i=i+1 %>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to key.name , key %></h5>
                  <p class="card-text"><%= key.location.name %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Rank :<%= key.transporttype %></li>
                  <li class="list-group-item">Recommendation Rating :<%= value.round(2) %></li>
                  <li class="list-group-item">Price :€<%= key.price %></li>
                </ul>
                <div class="card-body">
                  <!--<a href="#" class="btn btn-primary">Search</a> -->
                </div>
              </div>
            </div>
          <% end %>
        <% end -%>
        <br>
      </div>


    </table>
  <% else %>
   <h2>Hotels List</h2>
        <div class="row">
        <% i=0 %>
        <% @hotels.each do |hotel| -%>
          <% if (i < 6) %>
            <% i=i+1 %>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to hotel.name, hotel %></h5>
                  <p class="card-text"><%= hotel.address %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Rank :<%= hotel.rank %></li>
                  <li class="list-group-item">Price :<%= hotel.price   %></li>
                </ul>
                <div class="card-body">
                  <!--<a href="#" class="btn btn-primary">Search</a> -->
                </div>
              </div>
            </div>
          <% end %>
        <% end -%>
        <br>
      </div>

    <h2>Restaurants List</h2>
    <div class="row">
      <% i=0 %>
      <% @restaurants.each do |restaurant| -%>
        <% if (i < 6) %>
          <% i=i+1 %>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= link_to restaurant.name, restaurant %></h5>
                <p class="card-text"><%= restaurant.location.name %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Price :<%= restaurant.price %></li>
              </ul>
              <div class="card-body">
                <!--<a href="#" class="btn btn-primary">Search</a> -->
              </div>
            </div>
          </div>
        <% end %>
      <% end -%>
      <br>
    </div>


   <h2>Transports List</h2>



  <div class="row">
    <% i=0 %>
    <% @transports.each do |transport| -%>
      <% if (i < 6) %>
        <% i=i+1 %>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= link_to transport.name, transport %></h5>
              <p class="card-text"><%= transport.location.name %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Price :<%= transport.price %></li>
            </ul>
            <div class="card-body">
              <!--<a href="#" class="btn btn-primary">Search</a> -->
            </div>
          </div>
        </div>
      <% end %>
    <% end -%>
    <br>
  </div>

  <% end %>