  <% if user_signed_in? %>
    <table><h2>Recommended Hotels for you!!!</h2>
      <tr>
        <th>HotelName</th>
        <th>Address</th>
        <th>Location</th>
        <th>Price</th>
        <th>Rating</th>

      </tr>
      <% i=0 %>
      <% @user.recommend_hotels.each do |key, value| %>
        <% if (i < 5) %>
          <% i=i+1 %>
          <tr>
            <td><%= link_to key.name , key %></td>
            <td><%=  key.address %></td>
            <td><%=  key.location.name %></td>
            <td><%=  key.price %></td>
            <td><%= value.round(2) %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <table><h2>Recommended Restaurants for you!!!</h2>
      <tr>
        <th>Restaurants</th>
      </tr>
      <% i=0 %>
      <% @user.recommend_restaurants.each do |key, value| %>
        <% if (i < 5) %>
          <% i=i+1 %>
          <tr>
            <td><%= link_to key.name , key %></td>
            <td><%=  key.foodtype %></td>
            <td><%=  key.location.name %></td>
            <td><%=  key.price %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    </table>
    <table><h2>Recommended Transports for you!!!</h2>
      <tr>
        <th>Transports</th>
      </tr>
      <% i=0 %>
      <% @user.recommend_transports.each do |key, value| %>
        <% if (i < 5) %>
          <% i=i+1 %>
          <tr>
            <td><%= link_to key.name , key %></td>
            <td><%=  key.transporttype %></td>
            <td><%=  key.location.name %></td>
            <td><%=  key.price %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% else %>
    <ul><h2>Hotels List</h2>
      <% i=0 %>
      <% @hotels.each do |hotel| %>
        <% if (i<5) %>
          <% i=i+1 %>
        <li><%= link_to hotel.name, hotel %></li>
          <% end %>
      <% end %>
    </ul>
    <ul><h2>Restaurants List</h2>
      <% i=0 %>
      <% @restaurants.each do |restaurant| %>
        <% if (i<5) %>
          <% i=i+1 %>
          <li><%= link_to restaurant.name, restaurant %></li>
        <% end %>
      <% end %>
    </ul>
    <ul><h2>Transports List</h2>
      <% i=0 %>
      <% @transports.each do |transport| %>
        <% if (i<5) %>
          <% i=i+1 %>
          <li><%= link_to transport.name, transport %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
