<%= form_with(model: report_error, local: true) do |form| %>
  <% if report_error.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report_error.errors.count, "error") %> prohibited this report_error from being saved:</h2>

      <ul>
        <% report_error.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :errormessage %>
    <%= form.text_field :errormessage %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
