<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Reported Errors That are Assigned to You</h1>

<table>
  <thead>
    <tr>
      <th>Errormessage</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_errors.each do |report_error| %>
      <tr>
        <td><%= report_error.errormessage %></td>
        <td><%= report_error.user_id %></td>
        <td><%= link_to 'Show', report_error %></td>
        <td><%= link_to 'Edit', edit_report_error_path(report_error) %></td>
        <td><%= link_to 'Destroy', report_error, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  <% else %>
  <h2> No Errors assigned to you!!!  </h2>
<%end %>