<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @location.category %>
</p>

<p>
  <strong>Scrapper_ID:</strong>
  <%= @location.scrapper_id %>
</p>

<p>
  <strong>Transport_ID:</strong>
  <%= @location.transcrapper_id %>
</p>

<p>
  <strong>Restaurant_ID:</strong>
  <%= @location.restscrapper_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
