<!DOCTYPE html>
<html>
  <head>
    <title>ItineraryPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Itineray Planner</a>
  <form class="form-inline">
    <% if user_signed_in? %>
    Logged in as &nbsp;<strong><%= current_user.email %>&nbsp;&nbsp;</strong>

    <a class="btn btn-outline-primary" href="<%=edit_user_registration_path%>" role="button">
    Edit profile
    </a>

    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" data-method="delete" href="<%=destroy_user_session_path%>" role="button">
      Logout
      </a>
    </div>


    <% else %>

    <a class="btn btn-outline-primary" href="<%=new_user_session_path%>" role="button">
    Login
    </a>

    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="<%=new_user_registration_path%>" role="button">
      Sign Up
      </a>
    </div>

    <% end %>
  </form>
</nav>


    <div style="padding-left: 15px;">
    <%= yield %>
    </div>
  </body>
</html>
