<!DOCTYPE html>
<html>
  <head>
    <title>ItineraryPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Itineray Planner</a>
  <% if user_signed_in? %>
  <% if  current_user.admin == true %>

      <a class="navbar-brand" href="/adminpage">Admin</a>

    <% end %>
    <% end %>
  <form class="form-inline">
    <% if user_signed_in? %>
    Logged in as &nbsp;<strong><%= current_user.email %>&nbsp;&nbsp;</strong>

    <a class="btn btn-outline-primary" href="<%=edit_user_registration_path%>" role="button">
    Edit profile
    </a>

    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" data-method="delete" href="<%=destroy_user_session_path%>" role="button">
      Logout
      </a>
    </div>


    <% else %>
      <a  href="/auth/google_oauth2" >Google SignIn</a>

      <a class="btn btn-outline-primary" href="<%=new_user_session_path%>" role="button">
    Login
    </a>

    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="<%=new_user_registration_path%>" role="button">
      Sign Up
      </a>
    </div>

    <% end %>
  </form>
</nav>
<div style="padding-left: 15px; padding-top: 15px; padding-bottom: 15px;">
<%= form_for :search, url: search_path , class: 'form-inline', style: 'display:inline !important;' do |form| %>

  <span class="field">
    <%= form.date_field :fromdate%>
  </span>
    <span class="field">
      <%= form.date_field :todate%>
  </span>
      <span class="field">
    <%= text_field_tag :noofpersons,  nil, placeholder: 'Enter Number of Persons' %>
  </span>

      <span class="field">
    <%= text_field_tag :noofrooms,  nil, placeholder: 'Enter Number of Rooms' %>
  </span>

        <span class="field">
  <%= form.select :searchtype,  [['Search by Price','searchbyprice'],['Search by Place','searchbyplace']], :id => "searchtype" %>
  </span>

      <span class="field">
        <%= form.select :price, [['0€ to 50€','1'],['50€ to 100€','2'],['100€ to 150€','3'],['150€ to 200€','4']], :id => "price"  %>
      </span>

      <span class="field">
        <%= form.select :place, options_for_select( @locations.collect { |location| [location.name, location.scrapper_id] } ) , :id => "place" %>
      </span>


  <span>
  <%= form.submit "Search" ,{class: "btn btn-primary"} %>
  </span>
<% end  %>
</div>
    <div style="padding-left: 15px;">
    <%= yield %>
    </div>
  </body>
</html>
